body {
  background-color: aquamarine;
}

.breed-select {
  width: 250px;
}

.no-show {
  display: none;
}

.cat-info {
  display: flex;
  justify-content: left;
  gap: 24px;
  margin-top: 24px;
}

.desc {
  width: 600px;
}

.desc-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: left;
}

.desc-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 24px;
}

.error {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: left;
}
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
